.App {
  background-color: lightgrey;
  padding: 10px;
  display: grid;
  /* grid-template-columns: 25% 25% 25%; */
  grid-template-areas:
    "header header header"
    "product product sidebar";
}

nav {
  grid-area: header;
  background-color: grey;
}

/*************************************/

.Productlist {
  background-color: grey;
  margin-top: 10px;
  margin-right: 10px;

  display: flex;
}

.product {
  background-color: lightgrey;
  margin: 5px;
}

/*************************************/

.Basket {
  grid-area: sidebar;
  background-color: grey;
  margin-top: 10px;
}

/*************************************/
