* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  border: solid black 1px;
  display: grid;
  /* grid-template-columns: 25% 25% 25%; */
  grid-template-areas:
    "header header header"
    "button button"
    "product product sidebar";
}

nav {
  grid-area: header;
  background-color: grey;
}

/*************************************/

.Productlist {
  border: 2px black solid;
  margin-top: 10px;
  margin-right: 10px;

  display: flex;
  flex-wrap: wrap;
}

.product {
  background-color: rgb(238, 233, 235);
  margin: 5px;
  padding: 20px;
  width: 250px;
  height: 250px;
  text-align: center;
}

/*************************************/

.Basket {
  grid-area: sidebar;
  background-color: grey;
  margin-top: 10px;
  padding: 20px;
  background-color: rgb(238, 233, 235);
}

/*************************************/

.soldout {
  background: lightblue;
}
